
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'base'
 *= require 'fontello'
 *= require 'articles_list'
 *= require 'article_show'
 *= require_self
 */

@import '_variables';
/*----------------layout------------------*/
.wrapper {
  min-height:100vh;
  display:flex;
  // Direction of the items, can be row or column
  flex-direction: column;
}

.footer_content, .header_content, main{
  max-width: $max_width;
  min-width: $min_width;
  margin: 0 auto;
  padding: 0 20px;
}
main {
  flex:1;
  width: calc(100% - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
}
/*----------------end layout------------------*/

/*------------header-------------------*/
header{
  background: $dark;
  height: 45px;
  a{
    line-height: 45px;
    color: $white_link;
    text-decoration: none;
    &:hover{
      color: $h_white_link;
    }
  }
}
.logo{
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
nav{
  float: right;
  font-size: 17px;
  a:nth-child(n){
    margin-right: 50px;
  }
  a:last-child{
    margin-right: 0;
    text-decoration: none;
  }
}
/*------------end header-------------------*/


/*------------footer-------------------*/
footer{
  border-top: 1px solid $grey;
  height: 40px;
}
.footer_content{
  text-align: center;
  font-size: 12px;
  color: $dark;
  line-height: 40px;
}
/*------------end footer-------------------*/

/*-------------dialog --------------------*/
.ui-widget-overlay{
  background-color: #202020;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
.ui-dialog{
  border: 1px solid $grey;
  border-radius: 5px;
  background: white;
  z-index: 2;
  min-height: 140px;
  label, input {
    display:block;
  }
  input.text{
    margin-bottom:12px;
    width:95%;
    padding: .4em;
  }
  fieldset{
    padding:0;
    border:0;
    margin-top:25px;
  }
  .ui-state-error{
    border: 1px solid red;
  }
  .ui-state-highlight{
    color: red;
  }
  .validateTips{
    border: 1px solid transparent;
    padding: 0.3em;
  }
  form{
    margin-top: -20px;
    padding: 0 5px;
  }
  .ui-dialog-titlebar{
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    border-bottom: 1px dotted $grey;
    text-align: center;
    background-color: $light_grey;
    button{
      display: none;
    }
  }
  .ui-dialog-buttonpane{
    padding: 0 5px;
    height: 25px;
  }
  .subscribe_button{
    display: block;
    float: left;
  }
  .cancel_button{
    display: block;
    float: right;
  }
  .subscribe_button, .cancel_button{
    display: block;
    color: $h_white_link;
    background-color: $dark;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    &:hover{
      color: white;
    }
  }
}
/*------------- end dialog --------------------*/
/*-----------------pagination ----------------*/
.pagination{
  a{
    color: $dark;
  }
  .current{
    font-weight: bold;
  }
}
/*-----------------end pagination ----------------*/
